# Module 8 Assigment: Level 1

## 1. Iterate 0 to 10 using for loop, do the same using while loop.

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
num = 0
while num < 11:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

## 2. Iterate 10 to 0 using for loop, do the same using while loop.

In [9]:
for m in range(10, -1, -1):
    print(m)

10
9
8
7
6
5
4
3
2
1
0

In [12]:
m = 10
while m > 0:
    print(m)
    m -= 1

10
9
8
7
6
5
4
3
2
1

## 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
```python
#
##
###
####
#####
######
#######
```

In [14]:
k = 1
while k < 8:
    print('#'*k)
    k += 1

#
##
###
####
#####
######
#######

## 4. Use nested loops to create the following:
```python
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [19]:
# Number of rows and columns
rows = 8
columns = 8

# Outer loop for rows
for i in range(rows):
    # Inner loop for columns
    for j in range(columns):
        print("#", end=" ")  # Print # with a space
    print()  # Move to the next line after each row

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

## 5. Print the following pattern:
```sh
0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [2]:
for q in range(11):
    print(f"{q} x {q} = {q*q}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

## 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [11]:
skills =  ['Python', 'Numpy','Pandas','Django', 'Flask']
for skill in skills:
    print(skill)

Python
Numpy
Pandas
Django
Flask

## 7. Use for loop to iterate from 0 to 100 and print only even numbers.

In [14]:
num = range(101)
for i in num:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## 8. Use for loop to iterate from 0 to 100 and print only odd numbers.

In [13]:
num = range(101)
for i in num:
    if i % 2!= 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99