# Module 8 Assigment: Level 1

## 1. Iterate 0 to 10 using for loop, do the same using while loop.

In [4]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
num = 0
while num < 11:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10

## 2. Iterate 10 to 0 using for loop, do the same using while loop.

In [9]:
for m in range(10, -1, -1):
    print(m)

10
9
8
7
6
5
4
3
2
1
0

In [12]:
m = 10
while m > 0:
    print(m)
    m -= 1

10
9
8
7
6
5
4
3
2
1

## 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
```python
#
##
###
####
#####
######
#######
```

In [14]:
k = 1
while k < 8:
    print('#'*k)
    k += 1

#
##
###
####
#####
######
#######

## 4. Use nested loops to create the following:
```python
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [19]:
# Number of rows and columns
rows = 8
columns = 8

# Outer loop for rows
for i in range(rows):
    # Inner loop for columns
    for j in range(columns):
        print("#", end=" ")  # Print # with a space
    print()  # Move to the next line after each row

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

## 5. Print the following pattern:
```sh
0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [2]:
for q in range(11):
    print(f"{q} x {q} = {q*q}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

## 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [11]:
skills =  ['Python', 'Numpy','Pandas','Django', 'Flask']
for skill in skills:
    print(skill)

Python
Numpy
Pandas
Django
Flask

## 7. Use for loop to iterate from 0 to 100 and print only even numbers.

In [14]:
num = range(101)
for i in num:
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## 8. Use for loop to iterate from 0 to 100 and print only odd numbers.

In [13]:
num = range(101)
for i in num:
    if i % 2!= 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#  Module 8 Assigment: Level 2

## 1. Use for loop to iterate from 0 to 100 and print the sum of all numbers.
```sh
The sum of all numbers is 5050.
```

In [2]:
total_sum = 0

for i in range(101):
    total_sum += i

print("The sum of all numbers from 0 to 100 is:", total_sum)

The sum of all numbers from 0 to 100 is: 5050

## 2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
```sh
The sum of all evens is 2550. And the sum of all odds is 2500.

In [3]:
total_sum = 0

for number in range(101):
    if number % 2 == 0:
        total_sum += number

print("The sum of all numbers from 0 to 100 is:", total_sum)

The sum of all numbers from 0 to 100 is: 2550

#  Module 8 Assigment: Level 3

## 1. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

In [2]:
from countries_data import countries_data

# List to store countries with "land" in their name
countries_with_land = []

# Loop through the countries data
for country in countries_data:
    if "land" in country["name"].lower():
        countries_with_land.append(country["name"])

# Print the result
print(countries_with_land)

['Ã…land Islands', 'Bouvet Island', 'United States Minor Outlying Islands', 'Virgin Islands (British)', 'Virgin Islands (U.S.)', 'Cayman Islands', 'Christmas Island', 'Cocos (Keeling) Islands', 'Cook Islands', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Finland', 'Greenland', 'Heard Island and McDonald Islands', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Norfolk Island', 'Northern Mariana Islands', 'Poland', 'Solomon Islands', 'South Georgia and the South Sandwich Islands', 'Swaziland', 'Switzerland', 'Thailand', 'Turks and Caicos Islands', 'United Kingdom of Great Britain and Northern Ireland']

## 2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [3]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits)

['lemon', 'mango', 'orange', 'banana']

## 3. Go to the data folder and use the countries_data.py file.

+ ### What are the total number of languages in the data
+ ### Find the ten most spoken languages from the data
+ ### Find the 10 most populated countries in the world

In [8]:
languages = []
for country in countries_data:
    languages.extend(country["languages"])

total_languages = len(languages)
print(f"Total number of languages: {total_languages}")

Total number of languages: 368

NameError: name 'Counter' is not defined