#  Module 5 List Assigment: Level 1 and 2

# *Level 1*

## 1. Declare an empty list

In [106]:
empty_list = []
print(empty_list)

[]

## 2. Declare a list with more than 5 items

In [107]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list)

[1, 2, 3, 4, 5, 6]

## 3. Find the length of your list

In [108]:
print(len(my_list))

6

## 4. Get the first item, the middle item, and the last item of the list

In [109]:
print(my_list[0])  # First item
print(my_list[len(my_list) // 2])  # Middle item
print(my_list[-1])  # Last item

1
4
6

## 5. Declare a list called mixed_data_types with (name, age, height, marital status, address).

In [110]:
mixed_data_types = ["Auwal", 22, 5.8, "Single", "Nigeria"]
print(mixed_data_types)

['Auwal', 22, 5.8, 'Single', 'Nigeria']

## 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [111]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## 7. Print the list using print()

In [ ]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## 8. Print the number of companies in the list.

In [113]:
print(len(it_companies))

7

## 9. Print the first, middle, and last company.

In [114]:
print(it_companies[0])  
print(it_companies[len(it_companies) // 2])
print(it_companies[-1])

Facebook
Apple
Amazon

## 10. Print the list after modifying one of the companies.

In [115]:
it_companies[0] = "Jumia"
print(it_companies)

['Jumia', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## 11. Add an IT company to it_companies.

In [116]:
it_companies.append("Tesla")
print(it_companies)

['Jumia', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Tesla']

## 12. Insert an IT company in the middle of the companies list

In [117]:
it_companies.insert(len(it_companies) // 2, "Paystack")
print(it_companies)

['Jumia', 'Google', 'Microsoft', 'Apple', 'Paystack', 'IBM', 'Oracle', 'Amazon', 'Tesla']

## 13. Change one of the it_companies names to uppercase (excluding IBM).

In [118]:
it_companies[1] = it_companies[1].upper() 
print(it_companies)

['Jumia', 'GOOGLE', 'Microsoft', 'Apple', 'Paystack', 'IBM', 'Oracle', 'Amazon', 'Tesla']

## 14. Join the it_companies with a string '#;  '

In [119]:
joined_companies = '#;  '.join(it_companies)
print(joined_companies)

Jumia#;  GOOGLE#;  Microsoft#;  Apple#;  Paystack#;  IBM#;  Oracle#;  Amazon#;  Tesla

## 15. Check if a certain company exists in the it_companies list.

In [120]:
print("Jumia" in it_companies) 
print("Meta" in it_companies) # Check for 'Meta'

True
False

## 16. Sort the list using sort() method

In [121]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'GOOGLE', 'IBM', 'Jumia', 'Microsoft', 'Oracle', 'Paystack', 'Tesla']

## 17. Reverse the list in descending order using reverse() method.

In [122]:
it_companies.reverse()
print(it_companies)

['Tesla', 'Paystack', 'Oracle', 'Microsoft', 'Jumia', 'IBM', 'GOOGLE', 'Apple', 'Amazon']

## 18. Slice out the first 3 companies from the list.

In [123]:
print(it_companies[:3])

['Tesla', 'Paystack', 'Oracle']

## 19. Slice out the last 3 companies from the list.

In [124]:
print(it_companies[-3:])

['GOOGLE', 'Apple', 'Amazon']

## 20. Slice out the middle IT company or companies from the list.

In [125]:
middle = len(it_companies) // 2
# # Slice out the midddle company using traditional if and else statement.
if len(it_companies) % 2 != 0:
    print(it_companies[middle:middle + 1])
else:
    print(it_companies[middle - 1:middle + 1])

# Slice out the midddle company using ternary operator.
print(it_companies[middle:middle + 1] if len(it_companies) % 2 != 0 else it_companies[middle - 1:middle + 1])

['Jumia']
['Jumia']

# 21. Remove the first IT company from the list.

In [126]:
it_companies.pop(0)
print(it_companies)

['Paystack', 'Oracle', 'Microsoft', 'Jumia', 'IBM', 'GOOGLE', 'Apple', 'Amazon']

## 22. Remove the middle IT company or companies from the list.

In [127]:
middle = len(it_companies) // 2
del it_companies[middle]
print(it_companies)

['Paystack', 'Oracle', 'Microsoft', 'Jumia', 'GOOGLE', 'Apple', 'Amazon']

## 23. Remove the last IT company from the list.

In [128]:
it_companies.pop()
print(it_companies)

['Paystack', 'Oracle', 'Microsoft', 'Jumia', 'GOOGLE', 'Apple']

## 24. Remove all IT companies from the list.

In [129]:
it_companies.clear()
print(it_companies)

[]

## 25. Destroy the IT companies list.

In [130]:
del it_companies

## 26. Join the following lists.

In [131]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
joined_list = front_end + back_end
print(joined_list)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

## 27. Copy the joined list to a variable full_stack and insert Python and SQL after Redux.

In [132]:
full_stack = joined_list[:]
redux_index = full_stack.index("Redux") + 1
full_stack.insert(redux_index, "Python")
full_stack.insert(redux_index + 1, "SQL")
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# *Level 2*

## 1. The following is a list of 10 students ages.

``` bash
 ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
 ```

In [2]:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

### - Sort the list and find the min and max age

In [3]:

ages.sort()
min_age = min(ages)
max_age = max(ages)
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26

### - Add the min age and the max age again to the list

In [4]:
ages.extend([min_age, max_age])
print("Updated ages:", ages)

Updated ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

### - Find the median age (one middle item or two middle items divided by two)

In [5]:
ages.sort() # sorted the age list.
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]
print("Median age:", median_age)

Median age: 24.0

### - Find the average age (sum of all items divided by their number )

In [6]:
average_age = sum(ages) / len(ages)
print("Average age =", average_age)

Average age = 22.75

### - Find the range of the ages (max minus min)

In [8]:
range = max_age - min_age
print(f"Age range is ; {range}")

Age range is ; 7

### - Compare the value of (min - average) and (max - average), use abs() method

In [9]:
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print("Min - Average:", min_diff)
print("Max - Average:", max_diff)

Min - Average: 3.75
Max - Average: 3.25

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26