#  Module 5 Set Assigment: Level 1, 2 and 3.

## **Level 1**

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

## 1. Find the length of the set it_companies.

In [2]:
len(it_companies)

7

## 2. Add 'Twitter' to it_companies.

In [3]:
it_companies.add("Twitter")
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

## 3. Insert multiple IT companies at once to the set it_companies.

In [4]:
it_companies.update({"Tesla", "Netflix", "Jumia"})
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Jumia',
 'Microsoft',
 'Netflix',
 'Oracle',
 'Tesla',
 'Twitter'}

## 4. Remove one of the companies from the set it_companies.

In [ ]:

it_companies.pop()
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Jumia',
 'Microsoft',
 'Netflix',
 'Tesla',
 'Twitter'}

## 5. What is the difference between remove and discard?

### - `remove(item)`: Removes the specified item from the set. If the item does not exist, it raises a `KeyError`.
  
### - `discard(item)`: Removes the specified item from the set. If the item does not exist, it does nothing and does not raise an error.

## **Sets Exercises: Level 2**

## 1. Join A and B.

In [6]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

## 2. Find A intersection B.

In [8]:
interc = A.intersection(B)
print (interc)

{4, 5}

## 3. Is A subset of B?

In [9]:

A.issubset(B)

False

## 4. Are A and B disjoint sets?

In [10]:
A.isdisjoint(B)

False

## 5. Join A with B and B with A.

In [16]:
AB = A.union(B)
BA = B.union(A)

print (AB)
print (BA)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

## 6. What is the symmetric difference between A and B?

In [17]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

## 7. Delete the sets completely.

In [18]:

del A
del B

## **Sets Exercises: Level 3**

## 1. Convert the ages to a set and compare the length of the list and the set. Which one is bigger?

In [25]:
ages = [22, 19, 24, 25, 26, 24, 25, 19]
ages_set = set(ages)
print(f"ages = {len(ages)}")
print(f"ages_set = {len(ages_set)}")

if len(ages) > len(ages_set):
    print("The ages is bigger.")
elif len(ages_set) > len(ages):
    print("The age set of ages is bigger.")
else:
    print("They are equal.")

ages = 8
ages_set = 5
The ages is bigger.

## 2. Explain the difference between the following data types: string, list, tuple, and set.

- **String**: Immutable sequence of characters. Used for text data.
- **List**: Ordered, mutable collection of items. Can contain duplicates.
- **Tuple**: Ordered, immutable collection of items. Can contain duplicates.
- **Set**: Unordered, mutable collection of unique items. Does not allow duplicates.

##  3. How many unique words have been used in the sentence?
### `I am a teacher and I love to inspire and teach people.`

In [26]:
sentence = "I am a teacher and I love to inspire and teach people."
unique_words = set(sentence.split())
len(unique_words)

10