#  Module 5 Tuple Assigment: Level 1 and 2

## **Level 1**

## 1. Create an empty tuple.

In [1]:

empty_tuple = ()
empty_tuple

()

## 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine).

In [3]:

sisters = ("Aisha", "Fatima","Asma'u",)
brothers = ("Abdulrahman", "Usman")
sisters, brothers

(('Aisha', 'Fatima', "Asma'u"), ('Abdulrahman', 'Usman'))

## 3. Join brothers and sisters tuples and assign it to siblings.

In [4]:
siblings = brothers + sisters
siblings

('Abdulrahman', 'Usman', 'Aisha', 'Fatima', "Asma'u")

## 4. How many siblings do you have?

In [5]:
len(siblings)

5

## 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.

In [7]:
family_members = siblings + ("Dad", "Mom")
family_members

('Abdulrahman', 'Usman', 'Aisha', 'Fatima', "Asma'u", 'Dad', 'Mom')

## **Level 2**

## 1. Unpack siblings and parents from family_members

In [12]:
*siblings_unpacked, Dad, Mom = family_members
siblings_unpacked, Dad, Mom

(['Abdulrahman', 'Usman', 'Aisha', 'Fatima', "Asma'u"], 'Dad', 'Mom')

## 2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [13]:
fruits = ("apple", "banana", "mango")
vegetables = ("carrot", "spinach", "tomato")
animal_products = ("milk", "meat", "egg")
food_stuff_tp = fruits + vegetables + animal_products
food_stuff_tp

('apple',
 'banana',
 'mango',
 'carrot',
 'spinach',
 'tomato',
 'milk',
 'meat',
 'egg')

## 3. Change the about food_stuff_tp tuple to a food_stuff_lt list.

In [14]:
food_stuff_lt = list(food_stuff_tp)
food_stuff_lt

['apple',
 'banana',
 'mango',
 'carrot',
 'spinach',
 'tomato',
 'milk',
 'meat',
 'egg']

## 4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [15]:
middle_index = len(food_stuff_lt) // 2
food_stuff_lt[middle_index - 1 : middle_index + 1] if len(food_stuff_lt) % 2 == 0 else food_stuff_lt[middle_index]

'spinach'

## 5. Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]

print(first_three)

print(last_three)

['apple', 'banana', 'mango']
['milk', 'meat', 'egg']

## 6. Delete the food_staff_tp tuple completely.

In [21]:
del food_stuff_tp

## 7. Check if an item exists in tuple:

### - Check if 'Estonia' is a nordic country
### - Check if 'Iceland' is a nordic country

In [ ]:

nordic_countries = ("Denmark", "Finland", "Iceland", "Norway", "Sweden")

"Estonia" in nordic_countries

False

In [ ]:
"Iceland" in nordic_countries

True